.fc-event {
    border: 1px solid #00AAD4;
    background: #00AAD4;
}

.fc-above-768 {
    display: none;
}

@media (min-width: 768px) {
    .fc-above-768 {
        display: block;
    }

    .fc-below-768 {
        display: none;
    }
}

th.fc-day-header {
    border: 0;
}

.fc-header-title h2 {
    color: #666;
}

.fc-state-default {
    background-image: none;
    border-color: #e6e6e6;
    box-shadow: none;
}

.fc-grid .fc-other-month .fc-day-number {
    opacity: .4;
}

.fc-border-separate tr.fc-last th, .fc-border-separate tr.fc-last {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.fc-grid .fc-day-number {
    float: none;
    text-align: center;
    padding: 3px 0 0;
}

.fc-event-time {
    font-family: sans-serif;
    padding-right: 4px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

.fc-state-highlight .fc-day-number {
    color: #9C6D34;
    font-weight: bold;
}

.fc-event{
    border: 1px solid #F39011;
    background: #F39011;
}

.fc-event:hover {
    background-color: #c0720d;
    border-color: #c0720d;
    color: #fff;
}

.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start,
.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
    border-radius: 0;
}

.fc-widget-header, .fc-widget-content {
    border: 1px solid #f3f3f3;
}