^tmp_article_head^
<div id="event_^event_id^" class="container ssf-content">
    <h2>^event_name^</h2>
    <h3><a href="^event_url^" target="_blank">Event Information</a></h3>
    <!-- ^ tmp_elements=event=event_buttons ^ -->
    <h4>^event_date^</h4>
    <h5><a href="^venue_url^" target="_blank">^venue_name^</a></h5>
    <h5><a href="https://maps.google.com/?q=^venue_address^" target="_blank">^venue_address^</a></h5>
    <p>^event_description^</p>
    <p>^event_topics^</p>
    ^tmp_elements=shareme^
</div>
^tmp_footer^